<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Liste d'idées</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/core.css}" rel="stylesheet"/>
</head>

<body th:with="page='listidee'">
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 150px;">titre</th>
        <th style="width: 200px;">contenu</th>
        <th style="width: 150px;">auteur</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="idee : ${listidee}">
        <td th:text="idee">&nbsp;</td>
        <td th:text="contenu">&nbsp;</td>
        <td th:text="auteur">&nbsp;</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>